In [1]:
import pandas as pd

In [2]:
import os

loc = os.getcwd()

In [28]:
os.chdir('C:\PROJECT-2\England')

In [3]:
os.getcwd()

'C:\\Users\\user\\Python'

In [43]:
#ENGLAND - FINANCE CONCAT
file = pd.read_excel('England-Finance Records.xlsx',usecols = 'a,e:j', sheet_name=None)
file

{'2012':           Club name  Marketing  MatchDay  TV Translation  Year  Country Key  \
 0   Manchester City  139377219   9392612       168986100  2012            1
 1    Manchester Utd   55985029  14124849       385929179  2012            1
 2           Arsenal  134583818  12009405       242293080  2012            1
 3         Tottenham   39126598   2287660       404500017  2012            1
 4     Newcastle Utd   44952624   8323238       204681546  2012            1
 5           Chelsea   13375912   2809882       367717042  2012            1
 6           Everton   95453406  10466305       357979302  2012            1
 7         Liverpool   79122248  12599047       242588801  2012            1
 8            Fulham   23307157   4483592       323579917  2012            1
 9         West Brom   49562368   9248793       410093397  2012            1
 10     Swansea City   40201689  13861087       293844816  2012            1
 11     Norwich City   98351203   2358339       299150005  2012            1
 12       Sunderland   68197436  10340455       218852104  2012            1
 13       Stoke City   40442284    831333       404437218  2012            1
 14   Wigan Athletic  104142811   2408666       322468070  2012            1
 15      Aston Villa   52731125   7829101       450384903  2012            1
 16              QPR   12382704   2061834       177628811  2012            1
 17           Bolton   42611163  13835275       362565328  2012            1
 18        Blackburn  138789401   5340450       391714100  2012            1
 19           Wolves   84728628  11674237       171706795  2012            1

     LeagueID
 0        100
 1        100
 2        100
 3        100
 4        100
 5        100
 6        100
 7        100
 8        100
 9        100
 10       100
 11       100
 12       100
 13       100
 14       100
 15       100
 16       100
 17       100
 18       100
 19       100  ,
 '2013':           Club name  Marketing  MatchDay  TV Translation  Year  Country Key  \
 0    Manchester Utd    9558525   1581932       451113649  2013            1
 1   Manchester City    6497069   9882847        71758953  2013            1
 2           Chelsea    8699350   2943697       419212962  2013            1
 3           Arsenal    7981129   1526750       154665805  2013            1
 4         Tottenham    8350855   4941617        19844694  2013            1
 5           Everton    2425381   4753232        95961967  2013            1
 6         Liverpool    3251419   1313586        89749787  2013            1
 7         West Brom    1404513   6797523       413767639  2013            1
 8      Swansea City    8341765    430953        94101842  2013            1
 9          West Ham    5724591   2176703        18214900  2013            1
 10     Norwich City    9420961    438281       284578921  2013            1
 11           Fulham    3599778   5382071        14004307  2013            1
 12       Stoke City     293594   1471789       204842165  2013            1
 13      Southampton    8301309   3956924       225943921  2013            1
 14      Aston Villa    3546980    343532       403648389  2013            1
 15    Newcastle Utd     391690   1300784        56778149  2013            1
 16       Sunderland     892693   2904378       254242988  2013            1
 17   Wigan Athletic    9417510   9143249       251695585  2013            1
 18          Reading    5337291    288668       485243067  2013            1
 19              QPR    1709623   9989076        64211148  2013            1

     LeagueID
 0        100
 1        100
 2        100
 3        100
 4        100
 5        100
 6        100
 7        100
 8        100
 9        100
 10       100
 11       100
 12       100
 13       100
 14       100
 15       100
 16       100
 17       100
 18       100
 19       100  ,
 '2014':           Club name  Marketing  MatchDay  TV Translation  Year  Country Key  \
 0   Manchester City    3736724   4024095       337280621  2014            1
 1         Liverpool    9020989    170921       385477807  2014            1
 2           Chelsea    9639604   2025959       166085319  2014            1
 3           Arsenal    1868566   1703751       149340174  2014            1
 4           Everton    5625591   7673486        89822865  2014            1
 5         Tottenham    5894548    481203       430946522  2014            1
 6    Manchester Utd    1945953    541845        50678063  2014            1
 7       Southampton    3982506   2609081       125933644  2014            1
 8        Stoke City    2866446   5330888       419300044  2014            1
 9     Newcastle Utd    2536430   1007011       359306308  2014            1
 10   Crystal Palace    2669188   1343663       145076645  2014            1
 11     Swansea City    8498754   3586248       233972525  2014            1
 12         West Ham    2162741   8887476       275345785  2014            1
 13       Sunderland    3510218   9713625       271256064  2014            1
 14      Aston Villa    2553916   8716520       214589726  2014            1
 15        Hull City    1778012   8262072       361816192  2014            1
 16        West Brom    3327556   4040090       471604032  2014            1
 17     Norwich City    5679103   4145151       184946886  2014            1
 18           Fulham     907354   5620661       485325955  2014            1
 19     Cardiff City    8178890   9244288       447446362  2014            1

     LeagueID
 0        100
 1        100
 2        100
 3        100
 4        100
 5        100
 6        100
 7        100
 8        100
 9        100
 10       100
 11       100
 12       100
 13       100
 14       100
 15       100
 16       100
 17       100
 18       100
 19       100  ,
 '2015':           Club name  Marketing  MatchDay  TV Translation  Year  Country Key  \
 0           Chelsea   12485637  12654058       272497128  2015            1
 1   Manchester City   19897209  12030392       456399173  2015            1
 2           Arsenal   92798797  12092798       215974780  2015            1
 3    Manchester Utd  144589263  14663896       274910794  2015            1
 4         Tottenham   70715190   1698627       205135248  2015            1
 5         Liverpool   39106842  14336046       178211313  2015            1
 6       Southampton    2859897   3329550       330597980  2015            1
 7      Swansea City   95478691   8585524       453723410  2015            1
 8        Stoke City   59728290  14210198       438800407  2015            1
 9    Crystal Palace  101099518   6178750       246819719  2015            1
 10          Everton   75164654  11547260       279141240  2015            1
 11         West Ham  144935421   1516027       384363838  2015            1
 12        West Brom   46654594   7309840       366887064  2015            1
 13   Leicester City  137763731  12257941       208365466  2015            1
 14    Newcastle Utd   95326745  10332618       463810360  2015            1
 15       Sunderland    5554733  14655657       307391955  2015            1
 16      Aston Villa   54750919    852426       191677114  2015            1
 17        Hull City   12392844   1895664       152233927  2015            1
 18          Burnley   83961307   7005927       316789546  2015            1
 19              QPR  106299333  13670151       422088617  2015            1

     LeagueID
 0        100
 1        100
 2        100
 3        100
 4        100
 5        100
 6        100
 7        100
 8        100
 9        100
 10       100
 11       100
 12       100
 13       100
 14       100
 15       100
 16       100
 17       100
 18       100
 19       100  ,
 '2016':           Club name  Marketing  MatchDay  TV Translation  Year  Country Key  \
 0    Leicester City    4509222   9804842        40667620  2016            1
 1           Arsenal    9160755   4802895       204061171  2016            1
 2         Tottenham    8165292    512705       268763447  2016            1
 3   Manchester City    7465843   7924203       106121916  2016            1
 4    Manchester Utd    7011990   4512694       279017265  2016            1
 5       Southampton     151629   3253975       191081034  2016            1
 6          West Ham    6210916   4496934       313509315  2016            1
 7         Liverpool    9446105   5484253       435769000  2016            1
 8        Stoke City     708671   4767085       121277005  2016            1
 9           Chelsea    4977182   5863506       209714631  2016            1
 10          Everton    6452572   9208317       329907747  2016            1
 11     Swansea City    7059839   1333014       389730134  2016            1
 12          Watford     568370   3753383       465273249  2016            1
 13        West Brom    1308132   8100189       256063251  2016            1
 14   Crystal Palace    8916574    474692        34599455  2016            1
 15      Bournemouth     321917   5861849       396479364  2016            1
 16       Sunderland    3827359   4598742        70031489  2016            1
 17    Newcastle Utd    5042355    511262       137553447  2016            1
 18     Norwich City    9589892   9778679       285333185  2016            1
 19      Aston Villa    1898492   4876744       103864471  2016            1

     LeagueID
 0        100
 1        100
 2        100
 3        100
 4        100
 5        100
 6        100
 7        100
 8        100
 9        100
 10       100
 11       100
 12       100
 13       100
 14       100
 15       100
 16       100
 17       100
 18       100
 19       100  ,
 '2017':           Club name  Marketing  MatchDay  TV Translation  Year  Country Key  \
 0           Chelsea    7789061   8288188       424771897  2017            1
 1         Tottenham    9731651   2321007       254480281  2017            1
 2   Manchester City    4670521   4917041       229607493  2017            1
 3         Liverpool     402893   3273686       436814153  2017            1
 4           Arsenal    2699510    926824       140328598  2017            1
 5    Manchester Utd    5784156   1566091       208369863  2017            1
 6           Everton    6910585    215624       494647090  2017            1
 7       Southampton    2515986   5117027       109078638  2017            1
 8       Bournemouth    2913358   9202193        25409925  2017            1
 9         West Brom    2850265   5164438        25256529  2017            1
 10         West Ham    9570566   1908637       391421339  2017            1
 11   Leicester City    5752738   4059579       250340857  2017            1
 12       Stoke City    9374621   4273390       496251695  2017            1
 13   Crystal Palace    2193035   5485771       181632737  2017            1
 14     Swansea City    3621490    946424       209096574  2017            1
 15          Burnley    2392424    426874       145344107  2017            1
 16          Watford    9681937   7211344       433465512  2017            1
 17        Hull City    1244871   1644648       385131271  2017            1
 18    Middlesbrough    3346857   3529743       363675203  2017            1
 19       Sunderland    8328431   4255293       242616312  2017            1

     LeagueID
 0        100
 1        100
 2        100
 3        100
 4        100
 5        100
 6        100
 7        100
 8        100
 9        100
 10       100
 11       100
 12       100
 13       100
 14       100
 15       100
 16       100
 17       100
 18       100
 19       100  ,
 '2018':           Club name  Marketing  MatchDay  TV Translation  Country Key  \
 0   Manchester City    1897542   8584110        73189978            1
 1    Manchester Utd    6521464   2515587       321458413            1
 2         Tottenham    6284248   9835969       182431139            1
 3         Liverpool    8694509   6284129       343134650            1
 4           Chelsea    4680785    785440        94675084            1
 5           Arsenal    7286531   5914387       161629212            1
 6           Burnley    3125073   7620602       249986716            1
 7           Everton    9332437   6330981       111360119            1
 8    Leicester City    9810328   8438613       167930191            1
 9     Newcastle Utd    3112153   6684791       265254862            1
 10   Crystal Palace    5856870   1731406        38056842            1
 11      Bournemouth    4985723   3704466       436251788            1
 12         West Ham     397026   5592744       165421693            1
 13          Watford    7797641   8939756       168631297            1
 14         Brighton    3852056    572735       155632681            1
 15     Huddersfield    2931674   6105418       324608528            1
 16      Southampton    2448183   4137180       131914405            1
 17     Swansea City    6759216    689413       102819237            1
 18       Stoke City     548503   2486229       420404597            1
 19        West Brom    3342827   5200016        34149235            1

     LeagueID  Year
 0        100  2018
 1        100  2018
 2        100  2018
 3        100  2018
 4        100  2018
 5        100  2018
 6        100  2018
 7        100  2018
 8        100  2018
 9        100  2018
 10       100  2018
 11       100  2018
 12       100  2018
 13       100  2018
 14       100  2018
 15       100  2018
 16       100  2018
 17       100  2018
 18       100  2018
 19       100  2018  ,
 '2019':           Club name  Marketing  MatchDay  TV Translation  Country Key  \
 0   Manchester City    5388350   2145240       169961139            1
 1         Liverpool    8425643   7351047       334480381            1
 2           Chelsea     609693   5719458       489951327            1
 3         Tottenham    2663606    752920       283421365            1
 4           Arsenal    3002435   9541849       439734124            1
 5    Manchester Utd    5313023   9743824       134919210            1
 6            Wolves    5703005   5152784       186582465            1
 7           Everton    5460388   2363773       364359692            1
 8    Leicester City    7801236   8063553       302504780            1
 9          West Ham    3046702   8995138       110257963            1
 10          Watford    7353384   3755092       158267078            1
 11   Crystal Palace    5815367   9330069       385717087            1
 12    Newcastle Utd     633735   3436408       258607220            1
 13      Bournemouth    1617501   3557622       365860417            1
 14          Burnley    2181302   4244405       392876109            1
 15      Southampton    5541925   4277902       234769848            1
 16         Brighton    3587468   1807143       174798181            1
 17     Cardiff City    6093978   8525306       106366267            1
 18           Fulham    5502080   7156311       243628809            1
 19     Huddersfield    2230395   9745704        16832253            1

     LeagueID  Year
 0        100  2019
 1        100  2019
 2        100  2019
 3        100  2019
 4        100  2019
 5        100  2019
 6        100  2019
 7        100  2019
 8        100  2019
 9        100  2019
 10       100  2019
 11       100  2019
 12       100  2019
 13       100  2019
 14       100  2019
 15       100  2019
 16       100  2019
 17       100  2019
 18       100  2019
 19       100  2019  ,
 '2020':           Club name  Marketing  MatchDay  TV Translation  Country Key  \
 0         Liverpool    3046981   8532195        58554449            1
 1   Manchester City     921770   6038224       494802198            1
 2    Manchester Utd    2321252   3571265       231100637            1
 3           Chelsea    4906134   6403210       110213432            1
 4    Leicester City     531764   6736262       496368737            1
 5         Tottenham    7811151   4197339       238066101            1
 6            Wolves    9985423   5651112       133035383            1
 7           Arsenal    8192385   9402935       382424198            1
 8     Sheffield Utd    1783125   8169118       149726828            1
 9           Burnley    3338275   8168727       111242909            1
 10      Southampton    5499648   5976685       365025550            1
 11          Everton     280634   4107725       289108748            1
 12    Newcastle Utd    8494041   8040854        65240998            1
 13   Crystal Palace    7025363   8837672       207675314            1
 14         Brighton    6827806   4552059       132279965            1
 15         West Ham    7056082   5561126       337119887            1
 16      Aston Villa    8572693   5305881       424126275            1
 17      Bournemouth    8569113   9005931       202097480            1
 18          Watford    5774745   5437841       333648071            1
 19     Norwich City    7287511   3110031       139597387            1

     LeagueID  Year
 0        100  2020
 1        100  2020
 2        100  2020
 3        100  2020
 4        100  2020
 5        100  2020
 6        100  2020
 7        100  2020
 8        100  2020
 9        100  2020
 10       100  2020
 11       100  2020
 12       100  2020
 13       100  2020
 14       100  2020
 15       100  2020
 16       100  2020
 17       100  2020
 18       100  2020
 19       100  2020  ,
 '2021':           Club name  Marketing  MatchDay  TV Translation  Country Key  \
 0   Manchester City    5204902   3264022       366015628            1
 1    Manchester Utd    9556892   2868819        18365104            1
 2         Liverpool    9090124   1670752       481845014            1
 3           Chelsea    4132581   7023858        19015860            1
 4    Leicester City    3197986   3832588       316509384            1
 5          West Ham    8015323   4708984       149573592            1
 6         Tottenham    9739277   4046020       436205004            1
 7           Arsenal    9675575   8048549       149567850            1
 8      Leeds United    8460570    858488        20795181            1
 9           Everton    7716541    917421       455671486            1
 10      Aston Villa    7187450   8612069       174351931            1
 11    Newcastle Utd    2559124   3679554       226003479            1
 12           Wolves    2087909   9705773        20757329            1
 13   Crystal Palace    8468875   2596649       491050631            1
 14      Southampton     314932   2216976        32481186            1
 15         Brighton    4937083   1935852       469496022            1
 16          Burnley    8924773    646839       100837387            1
 17           Fulham    6666760    774952       319132988            1
 18        West Brom    9095297   4128892       445079971            1
 19    Sheffield Utd    9834942   3915632       263606926            1

     LeagueID  Year
 0        100  2021
 1        100  2021
 2        100  2021
 3        100  2021
 4        100  2021
 5        100  2021
 6        100  2021
 7        100  2021
 8        100  2021
 9        100  2021
 10       100  2021
 11       100  2021
 12       100  2021
 13       100  2021
 14       100  2021
 15       100  2021
 16       100  2021
 17       100  2021
 18       100  2021
 19       100  2021  }

In [44]:
England_Finance= pd.concat(file)

In [149]:
England_Finance
England_Finance.to_excel('C:\PROJECT-2\BI Files\England_Finance.xlsx')

In [281]:
#ENGLAND - TABLES CONCAT
file2 = pd.read_excel('England-League Tables.xlsx',usecols = 'a:j,l,m,p,q,r' ,sheet_name=None)

In [282]:
England_Tables= pd.concat(file2)

In [283]:
#Splitting the text column with name and number of goals
England_Tables[['Top Scorer Full Name','Scored Goals']]=England_Tables['Top Team Scorer'].str.split('-',expand = True)

In [284]:
England_Tables

         Rk            Squad  MP   W   D   L  GF  GA  GD  Pts  Attendance  \
2012 0    1  Manchester City  38  28   5   5  93  29  64   89      47.045
     1    2   Manchester Utd  38  28   5   5  89  33  56   89      75.387
     2    3          Arsenal  38  21   7  10  74  49  25   70      60.000
     3    4        Tottenham  38  20   9   9  66  41  25   69      36.036
     4    5    Newcastle Utd  38  19   8  11  56  51   5   65      49.951
...      ..              ...  ..  ..  ..  ..  ..  ..  ..  ...         ...
2021 15  16         Brighton  38   9  14  15  40  46  -6   41     523.000
     16  17          Burnley  38  10   9  19  33  55 -22   39     178.000
     17  18           Fulham  38   5  13  20  27  53 -26   28     211.000
     18  19        West Brom  38   5  11  22  35  76 -41   26     283.000
     19  20    Sheffield Utd  38   7   2  29  20  63 -43   23     263.000

                Top Team Scorer  Country Key  LeagueID  Year  \
2012 0      Sergio AgÃ¼ero - 23            1       100  2012
     1        Wayne Rooney - 27            1       100  2012
     2    Robin van Persie - 30            1       100  2012
     3   Emmanuel Adebayor - 17            1       100  2012
     4            Demba Ba - 16            1       100  2012
...                         ...          ...       ...   ...
2021 15         Neal Maupay - 8            1       100  2021
     16         Chris Wood - 12            1       100  2021
     17          Bobby Reid - 5            1       100  2021
     18    Matheus Pereira - 11            1       100  2021
     19    David McGoldrick - 8            1       100  2021

        Top Scorer Full Name Scored Goals
2012 0       Sergio AgÃ¼ero            23
     1         Wayne Rooney            27
     2     Robin van Persie            30
     3    Emmanuel Adebayor            17
     4             Demba Ba            16
...                      ...          ...
2021 15         Neal Maupay             8
     16          Chris Wood            12
     17          Bobby Reid             5
     18     Matheus Pereira            11
     19    David McGoldrick             8

[200 rows x 17 columns]

In [285]:
#Remove non relevant columns
England_Tables.drop(columns = ['Top Team Scorer'],inplace = True)

In [286]:
#Rename of columns
England_Tables.rename(columns = {'Rk':'Position','MP':'Played Games','W':'Wins','D':'Draws','L':'Losed','GF':'Goals For',
                                 'GA':'Goals Against','GD':'Goals Difference','Pts':'Points'},inplace= True)

In [287]:
#Change data type of specific columns for aggregation 
England_Tables['Scored Goals'] = England_Tables['Scored Goals'].astype('int64')
England_Tables['Attendance'] = England_Tables['Attendance'].astype('int64')*1000

In [288]:
#Adding aggregation column with result round
England_Tables['% of Teams Score'] = ((England_Tables['Scored Goals']/England_Tables['Goals For'])*100).round(1)

In [290]:
England_Tables
England_Tables.to_excel('C:\PROJECT-2\BI Files\England_Tables.xlsx')

In [343]:
#ENGLAND - Transfers CONCAT
#Import data from xlsx file
file3 = pd.read_excel('England-Transfer Historie.xlsx',usecols = 'c:g,i:k',sheet_name=None)

In [344]:
#Creating DataFrame
England_Transfers= pd.concat(file3)

In [345]:
#Split non relevant parts of column
England_Transfers[['test','Used money']] = England_Transfers['Expenditure'].str.split('€',expand = True)
England_Transfers[['Spent money(mln € )','test2']] = England_Transfers['Used money'].str.split('m',expand = True)

In [347]:
#Drop not relevant columns
England_Transfers.drop(columns = ['Expenditure','Income','test','test2','Used money','Income money'],inplace = True)

In [348]:
#Changing format for new columns
England_Transfers['Spent money(mln € )'] = England_Transfers['Spent money(mln € )'].astype('float')
England_Transfers['Income money(mln € )'] = England_Transfers['Income money(mln € )'].astype('float')

In [350]:
#Adding aggregation column
England_Transfers['Balance'] = England_Transfers['Spent money(mln € )'] - England_Transfers['Income money(mln € )']

In [352]:
#Creating EXCEL file in a destination folder
England_Transfers
England_Transfers.to_excel('C:\PROJECT-2\BI Files\England_Transfers.xlsx')

In [406]:
#ENGLAND - Personal Statistics CONCAT
#Import data from xlsx file
file4 = pd.read_excel('England-Players Statistics.xlsx', sheet_name=None)

In [407]:
##Creating DataFrame
England_Stat = pd.concat(file4)

In [408]:
#Adding aggregation column
England_Stat['Total'] = England_Stat['Gls'] + England_Stat['Ast']

In [416]:
#Sort by parameter
England_Stat = England_Stat[England_Stat['Total']>15]

In [418]:
#Creating EXCEL file in a destination folder
England_Stat
England_Stat.to_excel('C:\PROJECT-2\BI Files\England_Stat.xlsx')

# SPAIN

In [445]:
os.chdir('C:\PROJECT-2\Spain')
os.getcwd()

'C:\\PROJECT-2\\Spain'

### Spain - FINANCE CONCAT

In [446]:
file5 = pd.read_excel('Spain-Finance Records.xlsx', sheet_name=None)
file5

{'2012':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0        Real Madrid      NaN   Spain  LaLiga  113680784  13381578
 1          Barcelona      NaN   Spain  LaLiga   65729116  13914507
 2           Valencia      NaN   Spain  LaLiga  123352670  13092048
 3            MÃ¡laga      NaN   Spain  LaLiga    5064502   2327067
 4   AtlÃ©tico Madrid      NaN   Spain  LaLiga  137467209   6269278
 5            Levante      NaN   Spain  LaLiga   65611313   5820605
 6            Osasuna      NaN   Spain  LaLiga   24954912   5748430
 7           Mallorca      NaN   Spain  LaLiga   39434699   9066746
 8            Sevilla      NaN   Spain  LaLiga  127296798    693221
 9      Athletic Club      NaN   Spain  LaLiga  146983130  12599745
 10            Getafe      NaN   Spain  LaLiga   46136623   7035281
 11     Real Sociedad      NaN   Spain  LaLiga   16685854   2471665
 12             Betis      NaN   Spain  LaLiga   30735134   1791021
 13          Espanyol      NaN   Spain  LaLiga  117600939   4209550
 14    Rayo Vallecano      NaN   Spain  LaLiga   71411561   4651937
 15          Zaragoza      NaN   Spain  LaLiga    6932568   6751719
 16           Granada      NaN   Spain  LaLiga   81621217   3505177
 17        Villarreal      NaN   Spain  LaLiga  125001362   3840140
 18   Sporting GijÃ³n      NaN   Spain  LaLiga  106850093  10190051
 19       Racing Sant      NaN   Spain  LaLiga  121298799   4821087

     TV Translation  Year  Country Key  LeagueID
 0        398632292  2012            2       200
 1        267239845  2012            2       200
 2        174078210  2012            2       200
 3        249894539  2012            2       200
 4        311991380  2012            2       200
 5        347296792  2012            2       200
 6        366082853  2012            2       200
 7        299129509  2012            2       200
 8        356886487  2012            2       200
 9        482053867  2012            2       200
 10       281495954  2012            2       200
 11       421789171  2012            2       200
 12       494857398  2012            2       200
 13       413441906  2012            2       200
 14       209773811  2012            2       200
 15       299045066  2012            2       200
 16       279496196  2012            2       200
 17       460734385  2012            2       200
 18       479633130  2012            2       200
 19       493072631  2012            2       200  ,
 '2013':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0          Barcelona      NaN   Spain  LaLiga   72551680  10365629
 1        Real Madrid      NaN   Spain  LaLiga   47066325   7767698
 2   AtlÃ©tico Madrid      NaN   Spain  LaLiga   39833807   1823786
 3      Real Sociedad      NaN   Spain  LaLiga  135979604   3244221
 4           Valencia      NaN   Spain  LaLiga   51999666   9991546
 5            MÃ¡laga      NaN   Spain  LaLiga   28620658  10705802
 6              Betis      NaN   Spain  LaLiga    4361661  11661725
 7     Rayo Vallecano      NaN   Spain  LaLiga   80437123   6782896
 8            Sevilla      NaN   Spain  LaLiga  116894722   3278387
 9             Getafe      NaN   Spain  LaLiga  143207463   6957757
 10           Levante      NaN   Spain  LaLiga   86045826   6095431
 11     Athletic Club      NaN   Spain  LaLiga   82616172  13413584
 12          Espanyol      NaN   Spain  LaLiga  133731143      8639
 13        Valladolid      NaN   Spain  LaLiga  110838438   6913968
 14           Granada      NaN   Spain  LaLiga   60552218  11730186
 15           Osasuna      NaN   Spain  LaLiga    2552889   3853099
 16        Celta Vigo      NaN   Spain  LaLiga   48228932   4960578
 17          Mallorca      NaN   Spain  LaLiga   37208602   4586582
 18        La CoruÃ±a      NaN   Spain  LaLiga  144450202   7438139
 19          Zaragoza      NaN   Spain  LaLiga   89662699  10844771

     TV Translation  Year  Country Key  LeagueID
 0        322837468  2013            2       200
 1        192758156  2013            2       200
 2        366386540  2013            2       200
 3        192050077  2013            2       200
 4        303902606  2013            2       200
 5        368262112  2013            2       200
 6        232173046  2013            2       200
 7        394979527  2013            2       200
 8        412392635  2013            2       200
 9        306488653  2013            2       200
 10       294485653  2013            2       200
 11       251537031  2013            2       200
 12       479708522  2013            2       200
 13       273104349  2013            2       200
 14       199295822  2013            2       200
 15       280590139  2013            2       200
 16       278175411  2013            2       200
 17       173237793  2013            2       200
 18       465955033  2013            2       200
 19       232789993  2013            2       200  ,
 '2014':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0   AtlÃ©tico Madrid      NaN   Spain  LaLiga  123474425   9711804
 1          Barcelona      NaN   Spain  LaLiga   33103976   6479619
 2        Real Madrid      NaN   Spain  LaLiga   11153325    271274
 3      Athletic Club      NaN   Spain  LaLiga  122038509  13860176
 4            Sevilla      NaN   Spain  LaLiga  140191651   3939696
 5         Villarreal      NaN   Spain  LaLiga  145004242  11543727
 6      Real Sociedad      NaN   Spain  LaLiga   13406068   2335266
 7           Valencia      NaN   Spain  LaLiga   10866727    458238
 8         Celta Vigo      NaN   Spain  LaLiga  147849261   7514116
 9            Levante      NaN   Spain  LaLiga  148133143  12854479
 10           MÃ¡laga      NaN   Spain  LaLiga   88843443   8293087
 11    Rayo Vallecano      NaN   Spain  LaLiga  124778341  10808332
 12            Getafe      NaN   Spain  LaLiga   82154913   1136756
 13          Espanyol      NaN   Spain  LaLiga   15820232   8846628
 14           Granada      NaN   Spain  LaLiga   23252060  11948587
 15             Elche      NaN   Spain  LaLiga  140508259  12799908
 16          AlmerÃ­a      NaN   Spain  LaLiga   40044294   8940434
 17           Osasuna      NaN   Spain  LaLiga   43873252  11474069
 18        Valladolid      NaN   Spain  LaLiga   77963424  14897390
 19             Betis      NaN   Spain  LaLiga    1148707   2514446

     TV Translation  Year  Country Key  LeagueID
 0        425377344  2014            2       200
 1        288080031  2014            2       200
 2        152899451  2014            2       200
 3        255650689  2014            2       200
 4        160280588  2014            2       200
 5        439621341  2014            2       200
 6        408200087  2014            2       200
 7        399436591  2014            2       200
 8        379403057  2014            2       200
 9        259224264  2014            2       200
 10       232253992  2014            2       200
 11       296263092  2014            2       200
 12       303651687  2014            2       200
 13       441111729  2014            2       200
 14       211331316  2014            2       200
 15       355163531  2014            2       200
 16       231483900  2014            2       200
 17       236562474  2014            2       200
 18       417835156  2014            2       200
 19       206060214  2014            2       200  ,
 '2015':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0          Barcelona      NaN   Spain  LaLiga   47520748   6265849
 1        Real Madrid      NaN   Spain  LaLiga  142890781  12922703
 2   AtlÃ©tico Madrid      NaN   Spain  LaLiga  104961633  12934645
 3           Valencia      NaN   Spain  LaLiga    2385755   2929853
 4            Sevilla      NaN   Spain  LaLiga    2608744  11841671
 5         Villarreal      NaN   Spain  LaLiga  120134977   6185534
 6      Athletic Club      NaN   Spain  LaLiga   59737267  14135973
 7         Celta Vigo      NaN   Spain  LaLiga    8029737  14823766
 8            MÃ¡laga      NaN   Spain  LaLiga  120784307  13885741
 9           Espanyol      NaN   Spain  LaLiga  116169387  14736142
 10    Rayo Vallecano      NaN   Spain  LaLiga  135047224  13292729
 11     Real Sociedad      NaN   Spain  LaLiga  104271317    330258
 12             Elche      NaN   Spain  LaLiga   47455262  12553107
 13           Levante      NaN   Spain  LaLiga  129354313  14071038
 14            Getafe      NaN   Spain  LaLiga  110499629  14530791
 15        La CoruÃ±a      NaN   Spain  LaLiga  128085500   5706986
 16           Granada      NaN   Spain  LaLiga    2513211  13955808
 17             Eibar      NaN   Spain  LaLiga  136102297   7934332
 18          AlmerÃ­a      NaN   Spain  LaLiga   17693941  12260399
 19          CÃ³rdoba      NaN   Spain  LaLiga  129354892   7329184

     TV Translation  Year  Country Key  LeagueID
 0        340642855  2015            2       200
 1        384092287  2015            2       200
 2        477731687  2015            2       200
 3        269456281  2015            2       200
 4        415131255  2015            2       200
 5        485872729  2015            2       200
 6        196288089  2015            2       200
 7        217684014  2015            2       200
 8        154844597  2015            2       200
 9        217925165  2015            2       200
 10       486556943  2015            2       200
 11       347212846  2015            2       200
 12       404609920  2015            2       200
 13       407067556  2015            2       200
 14       274835196  2015            2       200
 15       409142196  2015            2       200
 16       424929639  2015            2       200
 17       170546973  2015            2       200
 18       472951446  2015            2       200
 19       302485476  2015            2       200  ,
 '2016':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0          Barcelona      NaN   Spain  LaLiga   86062057   4481133
 1        Real Madrid      NaN   Spain  LaLiga   85009008  10648844
 2   AtlÃ©tico Madrid      NaN   Spain  LaLiga   35708280   8079248
 3         Villarreal      NaN   Spain  LaLiga   51901423   5270396
 4      Athletic Club      NaN   Spain  LaLiga   83742116   7834988
 5         Celta Vigo      NaN   Spain  LaLiga   66087942   7899077
 6            Sevilla      NaN   Spain  LaLiga   24833572   3134501
 7            MÃ¡laga      NaN   Spain  LaLiga  125961487   3723605
 8      Real Sociedad      NaN   Spain  LaLiga   23090760  13561175
 9              Betis      NaN   Spain  LaLiga  116772028  14252420
 10        Las Palmas      NaN   Spain  LaLiga  100824863   3656076
 11          Valencia      NaN   Spain  LaLiga   85963050   4630108
 12          Espanyol      NaN   Spain  LaLiga   51978138   2602120
 13             Eibar      NaN   Spain  LaLiga   86252427   2411859
 14        La CoruÃ±a      NaN   Spain  LaLiga   40164404   6848143
 15           Granada      NaN   Spain  LaLiga  126171255   3199499
 16   Sporting GijÃ³n      NaN   Spain  LaLiga   65814450  14828648
 17    Rayo Vallecano      NaN   Spain  LaLiga   49051267  14801855
 18            Getafe      NaN   Spain  LaLiga   52373544  14092548
 19           Levante      NaN   Spain  LaLiga   80419652  12256476

     TV Translation  Year  Country Key  LeagueID
 0        264511875  2016            2       200
 1        177830161  2016            2       200
 2        248511254  2016            2       200
 3        431581759  2016            2       200
 4        468249862  2016            2       200
 5        339858078  2016            2       200
 6        446642386  2016            2       200
 7        282384291  2016            2       200
 8        368183890  2016            2       200
 9        384446742  2016            2       200
 10       201277122  2016            2       200
 11       190429708  2016            2       200
 12       470356552  2016            2       200
 13       226811094  2016            2       200
 14       302115687  2016            2       200
 15       317130078  2016            2       200
 16       202604730  2016            2       200
 17       281465764  2016            2       200
 18       242291198  2016            2       200
 19       216487121  2016            2       200  ,
 '2017':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0        Real Madrid      NaN   Spain  LaLiga  147916981  11375756
 1          Barcelona      NaN   Spain  LaLiga   13196227  14402098
 2   AtlÃ©tico Madrid      NaN   Spain  LaLiga  118436254  11559496
 3            Sevilla      NaN   Spain  LaLiga  100677448  13009750
 4         Villarreal      NaN   Spain  LaLiga  146672985   7610902
 5      Real Sociedad      NaN   Spain  LaLiga  129213227  10209714
 6      Athletic Club      NaN   Spain  LaLiga  141055478   2083432
 7           Espanyol      NaN   Spain  LaLiga   22118023   9030491
 8            AlavÃ©s      NaN   Spain  LaLiga   83814206   1115530
 9              Eibar      NaN   Spain  LaLiga  106489361   8268212
 10           MÃ¡laga      NaN   Spain  LaLiga   64051335   7548274
 11          Valencia      NaN   Spain  LaLiga   13636623   3410860
 12        Celta Vigo      NaN   Spain  LaLiga   66802090  11565450
 13        Las Palmas      NaN   Spain  LaLiga  108046676   2366698
 14             Betis      NaN   Spain  LaLiga   60593186   8636239
 15        La CoruÃ±a      NaN   Spain  LaLiga  110312503   2755548
 16          LeganÃ©s      NaN   Spain  LaLiga   98907418   3635405
 17   Sporting GijÃ³n      NaN   Spain  LaLiga   56132227   9313327
 18           Osasuna      NaN   Spain  LaLiga   78383831    962600
 19           Granada      NaN   Spain  LaLiga   69102612   8482121

     TV Translation  Year  Country Key  LeagueID
 0        349558080  2017            2       200
 1        202616175  2017            2       200
 2        199223059  2017            2       200
 3        299611977  2017            2       200
 4        311978835  2017            2       200
 5        262270478  2017            2       200
 6        457928267  2017            2       200
 7        329215447  2017            2       200
 8        395996068  2017            2       200
 9        391668189  2017            2       200
 10       356223575  2017            2       200
 11       438299078  2017            2       200
 12       442553916  2017            2       200
 13       499215733  2017            2       200
 14       417621148  2017            2       200
 15       451766298  2017            2       200
 16       165211954  2017            2       200
 17       320270938  2017            2       200
 18       380604342  2017            2       200
 19       405625750  2017            2       200  ,
 '2018':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0          Barcelona      NaN   Spain  LaLiga   92104033   6258515
 1   AtlÃ©tico Madrid      NaN   Spain  LaLiga  101699799   9845341
 2        Real Madrid      NaN   Spain  LaLiga   79802867   5790943
 3           Valencia      NaN   Spain  LaLiga   50425009   3757208
 4         Villarreal      NaN   Spain  LaLiga    9981750    163337
 5              Betis      NaN   Spain  LaLiga   29244074  11654989
 6            Sevilla      NaN   Spain  LaLiga   44367165   9728703
 7             Getafe      NaN   Spain  LaLiga  131874072  10053779
 8              Eibar      NaN   Spain  LaLiga   63790328  12733564
 9             Girona      NaN   Spain  LaLiga  134799901   7847890
 10          Espanyol      NaN   Spain  LaLiga   74939628    324834
 11     Real Sociedad      NaN   Spain  LaLiga   52875101   7357871
 12        Celta Vigo      NaN   Spain  LaLiga  114860055  12727029
 13           AlavÃ©s      NaN   Spain  LaLiga  143047159   5459265
 14           Levante      NaN   Spain  LaLiga   49234475   4848451
 15     Athletic Club      NaN   Spain  LaLiga   18690733  12768934
 16          LeganÃ©s      NaN   Spain  LaLiga  146567290   7053409
 17        La CoruÃ±a      NaN   Spain  LaLiga  127763222   6566882
 18        Las Palmas      NaN   Spain  LaLiga   45707778   4308425
 19           MÃ¡laga      NaN   Spain  LaLiga   13226092   5936598

     TV Translation  Year  Country Key  LeagueID
 0        173206361  2018            2       200
 1        156867845  2018            2       200
 2        454700464  2018            2       200
 3        170020047  2018            2       200
 4        427421089  2018            2       200
 5        153789821  2018            2       200
 6        399533224  2018            2       200
 7        208045084  2018            2       200
 8        406279948  2018            2       200
 9        274315429  2018            2       200
 10       239442207  2018            2       200
 11       444717712  2018            2       200
 12       469264649  2018            2       200
 13       275240172  2018            2       200
 14       229675371  2018            2       200
 15       312178106  2018            2       200
 16       400832105  2018            2       200
 17       354727767  2018            2       200
 18       258554007  2018            2       200
 19       195995601  2018            2       200  ,
 '2019':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0          Barcelona      NaN   Spain  LaLiga  107272751   4606431
 1   AtlÃ©tico Madrid      NaN   Spain  LaLiga   88883045   3003654
 2        Real Madrid      NaN   Spain  LaLiga   70916802   9202434
 3           Valencia      NaN   Spain  LaLiga  110794067   8146532
 4             Getafe      NaN   Spain  LaLiga   11077772  14195631
 5            Sevilla      NaN   Spain  LaLiga  110045048   9769996
 6           Espanyol      NaN   Spain  LaLiga     424718  14692019
 7      Athletic Club      NaN   Spain  LaLiga  103335719  13013666
 8      Real Sociedad      NaN   Spain  LaLiga  107227029  12980929
 9              Betis      NaN   Spain  LaLiga   92183773   4118782
 10           AlavÃ©s      NaN   Spain  LaLiga  120011358   1877385
 11             Eibar      NaN   Spain  LaLiga  118617323   2339495
 12          LeganÃ©s      NaN   Spain  LaLiga  100482247   9736279
 13        Villarreal      NaN   Spain  LaLiga   53723140  10995217
 14           Levante      NaN   Spain  LaLiga   62943761  12479318
 15        Valladolid      NaN   Spain  LaLiga  111874071    687983
 16        Celta Vigo      NaN   Spain  LaLiga    5957295  10875628
 17            Girona      NaN   Spain  LaLiga  148579144  12624625
 18            Huesca      NaN   Spain  LaLiga    7901415    714607
 19    Rayo Vallecano      NaN   Spain  LaLiga   87057109   5513972

     TV Translation  Year  Country Key  LeagueID
 0        378598572  2019            2       200
 1        317163978  2019            2       200
 2        494607238  2019            2       200
 3        495089263  2019            2       200
 4        246289054  2019            2       200
 5        406158612  2019            2       200
 6        417557259  2019            2       200
 7        457149010  2019            2       200
 8        160830952  2019            2       200
 9        358540969  2019            2       200
 10       429481184  2019            2       200
 11       444613335  2019            2       200
 12       233345566  2019            2       200
 13       436541916  2019            2       200
 14       207212100  2019            2       200
 15       180181264  2019            2       200
 16       285717103  2019            2       200
 17       481328774  2019            2       200
 18       180774673  2019            2       200
 19       386396769  2019            2       200  ,
 '2020':            Club name  Club ID Country  League  Marketing  MatchDay  \
 0        Real Madrid      NaN   Spain  LaLiga  108895601  12799193
 1          Barcelona      NaN   Spain  LaLiga    8546796  11847380

In [447]:
Spain_Finance= pd.concat(file5)

In [448]:
Spain_Finance.to_excel('C:\PROJECT-2\BI Files\Spain_Finance.xlsx')

### Spain - TABLES CONCAT

In [518]:
file6 = pd.read_excel('Spain-League Tables.xlsx', sheet_name=None)

In [519]:
Spain_Tables = pd.concat(file6)

In [521]:
#Splitting the text column with name and number of goals
Spain_Tables[['Top Scorer Full Name','Scored Goals']]=Spain_Tables['Top Team Scorer'].str.split('-',expand = True)

In [522]:
#Remove non relevant columns
Spain_Tables.drop(columns = ['Top Team Scorer','Goalkeeper','Notes'],inplace = True)

In [523]:
#Rename of columns
Spain_Tables.rename(columns = {'Rk':'Position','MP':'Played Games','W':'Wins','D':'Draws','L':'Losed','GF':'Goals For',
                                 'GA':'Goals Against','GD':'Goals Difference','Pts':'Points'},inplace= True)

In [524]:
#Change data type of specific columns for aggregation 
#Spain_Tables.info()
Spain_Tables['Played Games'] = Spain_Tables['Played Games'].astype('int64')
Spain_Tables['Wins'] = Spain_Tables['Wins'].astype('int64')
Spain_Tables['Draws'] = Spain_Tables['Draws'].astype('int64')
Spain_Tables['Losed'] = Spain_Tables['Losed'].astype('int64')
Spain_Tables['Goals For'] = Spain_Tables['Goals For'].astype('int64')
Spain_Tables['Goals Against'] = Spain_Tables['Goals Against'].astype('int64')
Spain_Tables['Goals Difference'] = Spain_Tables['Goals Difference'].astype('int64')
Spain_Tables['Points'] = Spain_Tables['Points'].astype('int64')
Spain_Tables['Attendance'] = Spain_Tables['Attendance'].astype('int64')
#Spain_Tables['Scored Goals'] = Spain_Tables['Scored Goals'].astype('int64')

In [525]:
Spain_Tables['Scored Goals'] = Spain_Tables['Scored Goals'].astype('int64')

In [527]:
#Adding aggregation column with result round
Spain_Tables['% of Teams Score'] = ((Spain_Tables['Scored Goals']/Spain_Tables['Goals For'])*100).round(1)

In [529]:
Spain_Tables.to_excel('C:\PROJECT-2\BI Files\Spain_Tables.xlsx')

## Spain - Transfers CONCAT

In [599]:
#Import data from xlsx file
file7 = pd.read_excel('Spain-Transfer Historie.xlsx',usecols = 'c:g,i:k',sheet_name=None)

C:\Users\user\AppData\Local\Temp\ipykernel_14472\4200679990.py:2: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  file7 = pd.read_excel('Spain-Transfer Historie.xlsx',usecols = 'c:g,i:k',sheet_name=None)

In [600]:
#Creating DataFrame
Spain_Transfers= pd.concat(file7)

In [601]:
#Split non relevant parts of column
Spain_Transfers[['test','Used money']] = Spain_Transfers['Expenditure'].str.split('€',expand = True)
Spain_Transfers[['Spent money(mln € )','test2']] = Spain_Transfers['Used money'].str.split('m',expand = True)

Spain_Transfers[['test3','Income money']] = Spain_Transfers['Income'].str.split('€',expand = True)
Spain_Transfers[['Income money(mln € )','test2']] = Spain_Transfers['Income money'].str.split('m',expand = True)

In [602]:
#Drop not relevant columns
#Spain_Transfers
Spain_Transfers.drop(columns = ['Expenditure','Income','test','test2','test3','Balance','Used money','Income money'],inplace = True)

In [603]:
Spain_Transfers.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 220 entries, ('2012', 0) to ('2021', 20)
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Club                  200 non-null    object
 1   Arrivals              220 non-null    int64
 2   Departures            220 non-null    int64
 3   Year                  200 non-null    float64
 4   Country Key           220 non-null    int64
 5   LeagueID              220 non-null    int64
 6   Spent money(mln € )   201 non-null    object
 7   Income money(mln € )  168 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 15.0+ KB

In [604]:
#Changing format for new columns
Spain_Transfers['Spent money(mln € )'] = Spain_Transfers['Spent money(mln € )'].astype('float')
Spain_Transfers['Income money(mln € )'] = Spain_Transfers['Income money(mln € )'].astype('float')

In [613]:
#Replace NaN cells by '0'
Spain_Transfers.fillna(0,inplace = True)

In [614]:
#Adding aggregation column
Spain_Transfers['Balance'] = Spain_Transfers['Income money(mln € )'] - Spain_Transfers['Spent money(mln € )']

In [615]:
Spain_Transfers

                     Club  Arrivals  Departures    Year  Country Key  \
2012 0   AtlÃ©tico Madrid        21          20  2012.0            2
     1          Barcelona        12          12  2012.0            2
     2          Málaga CF        16          16  2012.0            2
     3        Real Madrid         6           7  2012.0            2
     4           Valencia        16          15  2012.0            2
...                   ...       ...         ...     ...          ...
2021 16        Celta Vigo        10          12  2021.0            2
     17          Mallorca        23          23  2021.0            2
     18         Espanyol         11          14  2021.0            2
     19       Fuenlabrada        22          24  2021.0            2
     20             Eibar        13          13  2021.0            2

         LeagueID  Spent money(mln € )  Income money(mln € )  Balance
2012 0        200                85.20                 85.35     0.15
     1        200                60.00                 46.95   -13.05
     2        200                59.25                  0.00   -59.25
     3        200                56.00                  8.00   -48.00
     4        200                34.00                 32.90    -1.10
...           ...                  ...                   ...      ...
2021 16       200                 3.00                  2.50    -0.50
     17       200                 2.90                  0.00    -2.90
     18       200                 2.76                  9.70     6.94
     19       200                 2.75                  0.00    -2.75
     20       200                 2.00                  0.00    -2.00

[220 rows x 9 columns]

In [617]:
#Creating EXCEL file in a destination folder

Spain_Transfers.to_excel('C:\PROJECT-2\BI Files\Spain_Transfers.xlsx')

# Spain - Stat CONCAT

In [618]:

#Import data from xlsx file
file8 = pd.read_excel('Spain-Players Statistics.xlsx', sheet_name=None)

In [619]:
Spain_Stat = pd.concat(file8)

In [621]:
#Adding aggregation column
Spain_Stat['Total'] = Spain_Stat['Gls'] + Spain_Stat['Ast']

In [622]:
#Sort by parameter
Spain_Stat = Spain_Stat[Spain_Stat['Total']>15]

In [625]:

Spain_Stat['Gls'] = Spain_Stat['Gls'].astype('int')

C:\Users\user\AppData\Local\Temp\ipykernel_14472\2948946962.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Spain_Stat['Gls'] = Spain_Stat['Gls'].astype('int')

In [627]:
Spain_Stat['Ast'] = Spain_Stat['Ast'].astype('int')
Spain_Stat['Total'] = Spain_Stat['Total'].astype('int')

C:\Users\user\AppData\Local\Temp\ipykernel_14472\2711149638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Spain_Stat['Ast'] = Spain_Stat['Ast'].astype('int')
C:\Users\user\AppData\Local\Temp\ipykernel_14472\2711149638.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Spain_Stat['Total'] = Spain_Stat['Total'].astype('int')

In [629]:
Spain_Stat.to_excel('C:\PROJECT-2\BI Files\Spain_Stat.xlsx')

# Germany
## Germany - Finance CONCAT

In [631]:
os.chdir('C:\PROJECT-2\Germany')

'C:\\PROJECT-2\\Germany'

In [632]:
file9 = pd.read_excel('Germany-Finance Records.xlsx', sheet_name=None)

{'2012':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0         Dortmund      NaN  Germany  Bundesleague   77507547   4267618
 1    Bayern Munich      NaN  Germany  Bundesleague   39514953   8511269
 2       Schalke 04      NaN  Germany  Bundesleague  111776451   4198394
 3       M'Gladbach      NaN  Germany  Bundesleague   31790952   7534161
 4       Leverkusen      NaN  Germany  Bundesleague   67334111  13273261
 5        Stuttgart      NaN  Germany  Bundesleague   74493123   3308061
 6      Hannover 96      NaN  Germany  Bundesleague   19736395   4904508
 7        Wolfsburg      NaN  Germany  Bundesleague   11966303  13611889
 8    Werder Bremen      NaN  Germany  Bundesleague   63794781   5409839
 9        NÃ¼rnberg      NaN  Germany  Bundesleague   84583533   5962947
 10      Hoffenheim      NaN  Germany  Bundesleague  116787750   1447058
 11        Freiburg      NaN  Germany  Bundesleague  133070292   8535245
 12        Mainz 05      NaN  Germany  Bundesleague   76460355   6694566
 13        Augsburg      NaN  Germany  Bundesleague   79490473  11658145
 14    Hamburger SV      NaN  Germany  Bundesleague    9860364  14218224
 15      Hertha BSC      NaN  Germany  Bundesleague   24792283  10332327
 16           KÃ¶ln      NaN  Germany  Bundesleague  148270316  10835288
 17  Kaiserslautern      NaN  Germany  Bundesleague  129471520  10387533

     TV Translation  Year  Country Key  LeagueID
 0        443367472  2012            3       300
 1        297156306  2012            3       300
 2        262556155  2012            3       300
 3        408658695  2012            3       300
 4        467487726  2012            3       300
 5        396783983  2012            3       300
 6        175763353  2012            3       300
 7        292632884  2012            3       300
 8        227675627  2012            3       300
 9        260150043  2012            3       300
 10       376592073  2012            3       300
 11       239667065  2012            3       300
 12       393951640  2012            3       300
 13       349310516  2012            3       300
 14       160706830  2012            3       300
 15       219457282  2012            3       300
 16       436143727  2012            3       300
 17       463259800  2012            3       300  ,
 '2013':           Club name  Club ID  Country        League  Marketing  MatchDay  \
 0     Bayern Munich      NaN  Germany  Bundesleague   72152811  12782237
 1          Dortmund      NaN  Germany  Bundesleague  110495224   5884214
 2        Leverkusen      NaN  Germany  Bundesleague   56613365  11624927
 3        Schalke 04      NaN  Germany  Bundesleague   47956074   2812717
 4          Freiburg      NaN  Germany  Bundesleague     822381   1395656
 5    Eint Frankfurt      NaN  Germany  Bundesleague   63302366  11333952
 6      Hamburger SV      NaN  Germany  Bundesleague  115693269  11854865
 7        M'Gladbach      NaN  Germany  Bundesleague   29999002    880246
 8       Hannover 96      NaN  Germany  Bundesleague   77912210  10374593
 9         NÃ¼rnberg      NaN  Germany  Bundesleague  105557881   4729512
 10        Wolfsburg      NaN  Germany  Bundesleague   32478033   7324412
 11        Stuttgart      NaN  Germany  Bundesleague    1793738  11586141
 12         Mainz 05      NaN  Germany  Bundesleague  110737212   3158117
 13    Werder Bremen      NaN  Germany  Bundesleague   98674409   9242755
 14         Augsburg      NaN  Germany  Bundesleague   93499952    669016
 15       Hoffenheim      NaN  Germany  Bundesleague  110426498    720807
 16      DÃ¼sseldorf      NaN  Germany  Bundesleague   96974016   3377537
 17  Greuther FÃ¼rth      NaN  Germany  Bundesleague  119998263   4161072

     TV Translation  Year  Country Key  LeagueID
 0        354601997  2013            3       300
 1        438947915  2013            3       300
 2        478687985  2013            3       300
 3        170404058  2013            3       300
 4        408356366  2013            3       300
 5        406589289  2013            3       300
 6        481841259  2013            3       300
 7        354480307  2013            3       300
 8        311450898  2013            3       300
 9        393294744  2013            3       300
 10       253022795  2013            3       300
 11       269273578  2013            3       300
 12       269292239  2013            3       300
 13       399433855  2013            3       300
 14       152788226  2013            3       300
 15       341712769  2013            3       300
 16       412903010  2013            3       300
 17       228244899  2013            3       300  ,
 '2014':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0    Bayern Munich      NaN  Germany  Bundesleague  143027201  14284155
 1         Dortmund      NaN  Germany  Bundesleague  111239702   7579860
 2       Schalke 04      NaN  Germany  Bundesleague    1973749   1666194
 3       Leverkusen      NaN  Germany  Bundesleague   70412039   8779845
 4        Wolfsburg      NaN  Germany  Bundesleague   67921574  11912148
 5       M'Gladbach      NaN  Germany  Bundesleague   43901131  11886128
 6         Mainz 05      NaN  Germany  Bundesleague  116520710   7579809
 7         Augsburg      NaN  Germany  Bundesleague   91173061  10255794
 8       Hoffenheim      NaN  Germany  Bundesleague   88804398  13855245
 9      Hannover 96      NaN  Germany  Bundesleague   22799311  13664059
 10      Hertha BSC      NaN  Germany  Bundesleague   73224106   8644011
 11   Werder Bremen      NaN  Germany  Bundesleague  142034491   4821176
 12  Eint Frankfurt      NaN  Germany  Bundesleague   37851894   1809935
 13        Freiburg      NaN  Germany  Bundesleague    6446066   6100744
 14       Stuttgart      NaN  Germany  Bundesleague   12381551  10436946
 15    Hamburger SV      NaN  Germany  Bundesleague   36895278   6868696
 16       NÃ¼rnberg      NaN  Germany  Bundesleague  106300024   6258188
 17    Braunschweig      NaN  Germany  Bundesleague  122719089  14752711

     TV Translation  Year  Country Key  LeagueID
 0        479072555  2014            3       300
 1        467127678  2014            3       300
 2        422225510  2014            3       300
 3        246144328  2014            3       300
 4        345060555  2014            3       300
 5        419133700  2014            3       300
 6        213366588  2014            3       300
 7        231998959  2014            3       300
 8        470496570  2014            3       300
 9        185099462  2014            3       300
 10       163887183  2014            3       300
 11       253327530  2014            3       300
 12       359949987  2014            3       300
 13       240630976  2014            3       300
 14       356357602  2014            3       300
 15       470261997  2014            3       300
 16       413111861  2014            3       300
 17       362796902  2014            3       300  ,
 '2015':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0    Bayern Munich      NaN  Germany  Bundesleague  122740539   1491962
 1        Wolfsburg      NaN  Germany  Bundesleague   16225857   1570258
 2       M'Gladbach      NaN  Germany  Bundesleague    4647756   9063110
 3       Leverkusen      NaN  Germany  Bundesleague   58660848  10948308
 4         Augsburg      NaN  Germany  Bundesleague   43918818   6319063
 5       Schalke 04      NaN  Germany  Bundesleague  149089940  14635227
 6         Dortmund      NaN  Germany  Bundesleague   84224052   3489588
 7       Hoffenheim      NaN  Germany  Bundesleague   63406869   7403965
 8   Eint Frankfurt      NaN  Germany  Bundesleague  117057543   3295969
 9    Werder Bremen      NaN  Germany  Bundesleague   35574874   2582197
 10        Mainz 05      NaN  Germany  Bundesleague   36127094  11675889
 11           KÃ¶ln      NaN  Germany  Bundesleague   45710870  12897062
 12     Hannover 96      NaN  Germany  Bundesleague   41323764   1283398
 13       Stuttgart      NaN  Germany  Bundesleague  107924606  10586911
 14      Hertha BSC      NaN  Germany  Bundesleague  112378183   5128013
 15    Hamburger SV      NaN  Germany  Bundesleague  115695391   2203734
 16        Freiburg      NaN  Germany  Bundesleague  138951677  13224734
 17    Paderborn 07      NaN  Germany  Bundesleague   93418301   2461439

     TV Translation  Year  Country Key  LeagueID
 0        203869497  2015            3       300
 1        385273594  2015            3       300
 2        368847068  2015            3       300
 3        381119664  2015            3       300
 4        451457918  2015            3       300
 5        465393072  2015            3       300
 6        330338244  2015            3       300
 7        453674532  2015            3       300
 8        244653401  2015            3       300
 9        354174247  2015            3       300
 10       165845671  2015            3       300
 11       180714726  2015            3       300
 12       240190805  2015            3       300
 13       476448610  2015            3       300
 14       393724562  2015            3       300
 15       324139847  2015            3       300
 16       377454049  2015            3       300
 17       254356323  2015            3       300  ,
 '2016':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0    Bayern Munich      NaN  Germany  Bundesleague   79742296   8649603
 1         Dortmund      NaN  Germany  Bundesleague   73675276   8830686
 2       Leverkusen      NaN  Germany  Bundesleague    2079071   3871187
 3       M'Gladbach      NaN  Germany  Bundesleague  139166034   9382856
 4       Schalke 04      NaN  Germany  Bundesleague  119873033    778091
 5         Mainz 05      NaN  Germany  Bundesleague   88806210  14883892
 6       Hertha BSC      NaN  Germany  Bundesleague   90211553  14125113
 7        Wolfsburg      NaN  Germany  Bundesleague   42040562  11716303
 8            KÃ¶ln      NaN  Germany  Bundesleague  106697670  10003802
 9     Hamburger SV      NaN  Germany  Bundesleague   16375214      1728
 10   Ingolstadt 04      NaN  Germany  Bundesleague   63178847   9420354
 11        Augsburg      NaN  Germany  Bundesleague  139678619  10005263
 12   Werder Bremen      NaN  Germany  Bundesleague  133222796  13303446
 13    Darmstadt 98      NaN  Germany  Bundesleague   75554668   5062792
 14      Hoffenheim      NaN  Germany  Bundesleague  105651458   5470647
 15  Eint Frankfurt      NaN  Germany  Bundesleague  113838974    709739
 16       Stuttgart      NaN  Germany  Bundesleague   67260926    182648
 17     Hannover 96      NaN  Germany  Bundesleague  146733081  13935804

     TV Translation  Year  Country Key  LeagueID
 0        322314258  2016            3       300
 1        445552413  2016            3       300
 2        229970392  2016            3       300
 3        408239879  2016            3       300
 4        468456021  2016            3       300
 5        200412371  2016            3       300
 6        328068360  2016            3       300
 7        370859834  2016            3       300
 8        351134501  2016            3       300
 9        445663913  2016            3       300
 10       197611154  2016            3       300
 11       159778861  2016            3       300
 12       271522856  2016            3       300
 13       486159704  2016            3       300
 14       191810975  2016            3       300
 15       223840656  2016            3       300
 16       340718153  2016            3       300
 17       166630938  2016            3       300  ,
 '2017':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0    Bayern Munich      NaN  Germany  Bundesleague   47291226  11403202
 1       RB Leipzig      NaN  Germany  Bundesleague  145301031   4176492
 2         Dortmund      NaN  Germany  Bundesleague   61421211   4930450
 3       Hoffenheim      NaN  Germany  Bundesleague   80139213  13357661
 4            KÃ¶ln      NaN  Germany  Bundesleague  126582604   7365869
 5       Hertha BSC      NaN  Germany  Bundesleague   29055383   8433579
 6         Freiburg      NaN  Germany  Bundesleague   84565357  11591877
 7    Werder Bremen      NaN  Germany  Bundesleague   92460769  10631668
 8       M'Gladbach      NaN  Germany  Bundesleague  100567792   5889388
 9       Schalke 04      NaN  Germany  Bundesleague    9177681   5814075
 10  Eint Frankfurt      NaN  Germany  Bundesleague  111461515   7034644
 11      Leverkusen      NaN  Germany  Bundesleague  132048690  12403107
 12        Augsburg      NaN  Germany  Bundesleague   70665055   7636402
 13    Hamburger SV      NaN  Germany  Bundesleague   70126293   3125115
 14        Mainz 05      NaN  Germany  Bundesleague   72433992   3676012
 15       Wolfsburg      NaN  Germany  Bundesleague   21814006   9133409
 16   Ingolstadt 04      NaN  Germany  Bundesleague   41788942  13397540
 17    Darmstadt 98      NaN  Germany  Bundesleague  139751256   9802876

     TV Translation  Year  Country Key  LeagueID
 0        256042926  2017            3       300
 1        320068416  2017            3       300
 2        286482120  2017            3       300
 3        273274967  2017            3       300
 4        351843426  2017            3       300
 5        395523589  2017            3       300
 6        482307416  2017            3       300
 7        239689493  2017            3       300
 8        197491788  2017            3       300
 9        326518027  2017            3       300
 10       451432895  2017            3       300
 11       412477944  2017            3       300
 12       394849908  2017            3       300
 13       307388810  2017            3       300
 14       493803072  2017            3       300
 15       493592184  2017            3       300
 16       308280904  2017            3       300
 17       222805709  2017            3       300  ,
 '2018':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0    Bayern Munich      NaN  Germany  Bundesleague   86068290   4446954
 1       Schalke 04      NaN  Germany  Bundesleague  112826776  13706307
 2       Hoffenheim      NaN  Germany  Bundesleague   51091332  13329138
 3         Dortmund      NaN  Germany  Bundesleague   61826191  11429100
 4       Leverkusen      NaN  Germany  Bundesleague  140158171   9218952
 5       RB Leipzig      NaN  Germany  Bundesleague  110068193  10081065
 6        Stuttgart      NaN  Germany  Bundesleague   34629245  10956175
 7   Eint Frankfurt      NaN  Germany  Bundesleague  136638471  11655633
 8       M'Gladbach      NaN  Germany  Bundesleague   63066647   6189351
 9       Hertha BSC      NaN  Germany  Bundesleague   63466559    901070
 10   Werder Bremen      NaN  Germany  Bundesleague   71515402   7055929
 11        Augsburg      NaN  Germany  Bundesleague   73231075   4456406
 12     Hannover 96      NaN  Germany  Bundesleague   85436654    529509
 13        Mainz 05      NaN  Germany  Bundesleague  141848302    688747
 14        Freiburg      NaN  Germany  Bundesleague   41207544  11644303
 15       Wolfsburg      NaN  Germany  Bundesleague  148668100   2537189
 16    Hamburger SV      NaN  Germany  Bundesleague   11312451   9992955
 17           KÃ¶ln      NaN  Germany  Bundesleague   66986350   9968530

     TV Translation  Year  Country Key  LeagueID
 0        281897603  2018            3       300
 1        182179542  2018            3       300
 2        424998422  2018            3       300
 3        388617854  2018            3       300
 4        484644041  2018            3       300
 5        408064626  2018            3       300
 6        243510819  2018            3       300
 7        152103149  2018            3       300
 8        485784265  2018            3       300
 9        301384408  2018            3       300
 10       384989470  2018            3       300
 11       173333581  2018            3       300
 12       165090509  2018            3       300
 13       191938760  2018            3       300
 14       481455922  2018            3       300
 15       194635554  2018            3       300
 16       343985690  2018            3       300
 17       405332916  2018            3       300  ,
 '2019':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0    Bayern Munich      NaN  Germany  Bundesleague   95777987  12080941
 1         Dortmund      NaN  Germany  Bundesleague   45840468  12658297
 2       RB Leipzig      NaN  Germany  Bundesleague    2262067  13232648
 3       Leverkusen      NaN  Germany  Bundesleague   53613161  14063909
 4       M'Gladbach      NaN  Germany  Bundesleague    9869789   6137054
 5        Wolfsburg      NaN  Germany  Bundesleague    5521116   7379189
 6   Eint Frankfurt      NaN  Germany  Bundesleague   52597752  14508790
 7    Werder Bremen      NaN  Germany  Bundesleague   76039731  14320861
 8       Hoffenheim      NaN  Germany  Bundesleague   88257578  12415506
 9      DÃ¼sseldorf      NaN  Germany  Bundesleague  107435425  10190250
 10      Hertha BSC      NaN  Germany  Bundesleague  101159168  14400488
 11        Mainz 05      NaN  Germany  Bundesleague  105087411  11582693
 12        Freiburg      NaN  Germany  Bundesleague  130688860   6702696
 13      Schalke 04      NaN  Germany  Bundesleague   37656614   2061664
 14        Augsburg      NaN  Germany  Bundesleague  122602788   9783781
 15       Stuttgart      NaN  Germany  Bundesleague  132635127   3561752
 16     Hannover 96      NaN  Germany  Bundesleague  141930591   8182385
 17       NÃ¼rnberg      NaN  Germany  Bundesleague   69464232   5996838

     TV Translation  Year  Country Key  LeagueID
 0        425317120  2019            3       300
 1        288292641  2019            3       300
 2        321511513  2019            3       300
 3        284549897  2019            3       300
 4        182866458  2019            3       300
 5        156050528  2019            3       300
 6        381037392  2019            3       300
 7        286705843  2019            3       300
 8        494346578  2019            3       300
 9        424801180  2019            3       300
 10       378052162  2019            3       300
 11       216430722  2019            3       300
 12       210921921  2019            3       300
 13       377811275  2019            3       300
 14       432041466  2019            3       300
 15       157624146  2019            3       300
 16       183579017  2019            3       300
 17       216295425  2019            3       300  ,
 '2020':          Club name  Club ID  Country        League  Marketing  MatchDay  \
 0    Bayern Munich      NaN  Germany  Bundesleague  112832415   4597153
 1         Dortmund      NaN  Germany  Bundesleague  142612476  14599625
 2       RB Leipzig      NaN  Germany  Bundesleague   49830186   2856759
 3       M'Gladbach      NaN  Germany  Bundesleague   64742060   8385942
 4       Leverkusen      NaN  Germany  Bundesleague   32429347  12060497
 5       Hoffenheim      NaN  Germany  Bundesleague  112927619  13366770
 6        Wolfsburg      NaN  Germany  Bundesleague   17046632   7978246
 7         Freiburg      NaN  Germany  Bundesleague    9615372    389869
 8   Eint Frankfurt      NaN  Germany  Bundesleague   33060247  10772811
 9       Hertha BSC      NaN  Germany  Bundesleague   47344002    284178
 10    Union Berlin      NaN  Germany  Bundesleague   70576791   5703978
 11      Schalke 04      NaN  Germany  Bundesleague   97327297   7626090
 12        Mainz 05      NaN  Germany  Bundesleague   98236319  10392047
 13           KÃ¶ln      NaN  Germany  Bundesleague  127210639   7112703
 14        Augsburg      NaN  Germany  Bundesleague  142782013   1769670
 15   Werder Bremen      NaN  Germany  Bundesleague  124774730   6649126

In [633]:
Germany_Finance = pd.concat(file9)
Germany_Finance

             Club name  Club ID  Country        League  Marketing  MatchDay  \
2012 0        Dortmund      NaN  Germany  Bundesleague   77507547   4267618
     1   Bayern Munich      NaN  Germany  Bundesleague   39514953   8511269
     2      Schalke 04      NaN  Germany  Bundesleague  111776451   4198394
     3      M'Gladbach      NaN  Germany  Bundesleague   31790952   7534161
     4      Leverkusen      NaN  Germany  Bundesleague   67334111  13273261
...                ...      ...      ...           ...        ...       ...
2021 13     Hertha BSC      NaN  Germany  Bundesleague   74979948   6810798
     14        Arminia      NaN  Germany  Bundesleague  123332108   8306485
     15          KÃ¶ln      NaN  Germany  Bundesleague    2122320  14422540
     16  Werder Bremen      NaN  Germany  Bundesleague   62563217  13947229
     17     Schalke 04      NaN  Germany  Bundesleague   32940647   3353309

         TV Translation  Year  Country Key  LeagueID
2012 0        443367472  2012            3       300
     1        297156306  2012            3       300
     2        262556155  2012            3       300
     3        408658695  2012            3       300
     4        467487726  2012            3       300
...                 ...   ...          ...       ...
2021 13       496788566  2021            3       300
     14       153112499  2021            3       300
     15       267508210  2021            3       300
     16       356170386  2021            3       300
     17       356869914  2021            3       300

[180 rows x 10 columns]

In [634]:
Germany_Finance.to_excel('C:\PROJECT-2\BI Files\Germany_Finance.xlsx')

## Germany - TABLES CONCAT

In [678]:
#Create DataFrame
file10 = pd.read_excel('Germany-League Tables.xlsx', sheet_name=None)
Germany_Tables = pd.concat(file10)

In [680]:
#Splitting the text column with name and number of goals
Germany_Tables[['Top Scorer Full Name','Scored Goals']]=Germany_Tables['Top Team Scorer'].str.split('-',expand = True)

In [681]:
#Remove non relevant columns
Germany_Tables.drop(columns = ['Top Team Scorer','Goalkeeper','Notes'],inplace = True)

In [682]:
#Rename of columns
Germany_Tables.rename(columns = {'Rk':'Position','MP':'Played Games','W':'Wins','D':'Draws','L':'Losed','GF':'Goals For',
                                 'GA':'Goals Against','GD':'Goals Difference','Pts':'Points'},inplace= True)

In [685]:
#Change data type of specific columns for aggregation 
#Germany_Tables.info()

Germany_Tables['Attendance'] = Germany_Tables['Attendance'].astype('int64')*1000
Germany_Tables['Scored Goals'] = Germany_Tables['Scored Goals'].astype('int64')

In [687]:
#Adding aggregation column with result round
Germany_Tables['% of Teams Score'] = ((Germany_Tables['Scored Goals']/Germany_Tables['Goals For'])*100).round(1)

In [689]:
Germany_Tables.to_excel('C:\PROJECT-2\BI Files\Germany_Tables.xlsx')

## Germany - Transfers CONCAT

In [717]:
#Import data from xlsx file
file11 = pd.read_excel('Germany-Transfer Historie.xlsx',usecols = 'c:g,i:k',sheet_name=None)

In [718]:
#Creating DataFrame
Germany_Transfers= pd.concat(file11)

In [719]:
#Split non relevant parts of column
Germany_Transfers[['test','Used money']] = Germany_Transfers['Expenditure'].str.split('€',expand = True)
Germany_Transfers[['Spent money(mln € )','test2']] = Germany_Transfers['Used money'].str.split('m',expand = True)

Germany_Transfers[['test3','Income money']] = Germany_Transfers['Income'].str.split('€',expand = True)
Germany_Transfers[['Income money(mln € )','test2']] = Germany_Transfers['Income money'].str.split('m',expand = True)

In [720]:
#Drop not relevant columns

Germany_Transfers.drop(columns = ['Expenditure','Income','test','test2','test3','Used money','Income money'],inplace = True)

In [721]:
#Replace NaN cells by '0'
Germany_Transfers.fillna(0,inplace = True)

In [722]:
#Formatting 'object' into 'float'
Germany_Transfers['Spent money(mln € )'] = Germany_Transfers['Spent money(mln € )'].astype('float')
Germany_Transfers['Income money(mln € )'] = Germany_Transfers['Income money(mln € )'].astype('float')

In [723]:
#Adding aggregation column
Germany_Transfers['Balance'] = Germany_Transfers['Income money(mln € )'] - Germany_Transfers['Spent money(mln € )']

In [724]:
Germany_Transfers

                         Club  Arrivals  Departures  Year  Country Key  \
2012 0          Bayern Munich        10           7  2012            3
     1             M'Gladbach        13          12  2012            3
     2              Wolfsburg        21          28  2012            3
     3           Hamburger SV        11          17  2012            3
     4               Dortmund        12          12  2012            3
...                       ...       ...         ...   ...          ...
2021 19          FC St. Pauli        17          18  2021            3
     20           DÃ¼sseldorf        13          13  2021            3
     21             NÃ¼rnberg        14          14  2021            3
     22  SpVgg Greuther Fürth        18          15  2021            3
     23     SG Dynamo Dresden        18          17  2021            3

         LeagueID  Spent money(mln € )  Income money(mln € )  Balance
2012 0        300                70.30                  0.00   -70.30
     1        300                33.40                 24.05    -9.35
     2        300                27.10                 21.85    -5.25
     3        300                27.00                  9.60   -17.40
     4        300                26.65                 34.00     7.35
...           ...                  ...                   ...      ...
2021 19       300                 1.85                  0.00    -1.85
     20       300                 1.82                  0.00    -1.82
     21       300                 1.65                  3.40     1.75
     22       300                 1.40                  3.55     2.15
     23       300                 1.20                  0.00    -1.20

[249 rows x 9 columns]

In [725]:
#Creating EXCEL file in a destination folder

Germany_Transfers.to_excel('C:\PROJECT-2\BI Files\Germany_Transfers.xlsx')

## Germany - Stat CONCAT

In [728]:
#Import data from xlsx file
file12 = pd.read_excel('Germany-Players Statistics.xlsx', sheet_name=None)

In [729]:
Germany_Stat = pd.concat(file12)

In [730]:
#Adding aggregation column
Germany_Stat['Total'] = Germany_Stat['Gls'] + Germany_Stat['Ast']

In [731]:
#Sort by parameter
Germany_Stat = Germany_Stat[Germany_Stat['Total']>15]

In [732]:
# Change data type
Germany_Stat['Gls'] = Germany_Stat['Gls'].astype('int')

In [744]:
Germany_Stat['Ast'] = Germany_Stat['Ast'].astype('int')
Germany_Stat['Total'] = Germany_Stat['Total'].astype('int')
Germany_Stat['Year'] = Germany_Stat['Year'].astype('int')
Germany_Stat['Country Key'] = Germany_Stat['Country Key'].astype('int')
Germany_Stat['LeagueID'] = Germany_Stat['LeagueID'].astype('int')
Germany_Stat['Rk'] = Germany_Stat['Rk'].astype('int')

In [745]:
#Creating file in destination folder
Germany_Stat.to_excel('C:\PROJECT-2\BI Files\Germany_Stat.xlsx')

In [750]:
Germany_Stat.sort_values(by = 'Total',ascending=False).head(10)

           Rk                     Player           Squad  Gls  Ast  Year  \
2021 271  272         Robert Lewandowski   Bayern Munich   41    7  2021
2020 264  265         Robert Lewandowski   Bayern Munich   34    4  2020
2012 176  177        Klaas-Jan Huntelaar      Schalke 04   29    8  2012
2020 481  482                Timo Werner      RB Leipzig   28    8  2020
2021 430  431                André Silva  Eint Frankfurt   28    7  2021
2017 271  272         Robert Lewandowski   Bayern Munich   30    5  2017
     15    16  Pierre-Emerick Aubameyang        Dortmund   31    3  2017
2013 214  215            Stefan Kießling      Leverkusen   25    9  2013
2021 179  180             Erling Haaland        Dortmund   27    6  2021
2020 391  392               Jadon Sancho        Dortmund   17   16  2020

          Country Key  LeagueID  Total
2021 271            3       300     48
2020 264            3       300     38
2012 176            3       300     37
2020 481            3       300     36
2021 430            3       300     35
2017 271            3       300     35
     15             3       300     34
2013 214            3       300     34
2021 179            3       300     33
2020 391            3       300     33

# Italy

## Italy - Finance CONCAT

In [4]:
#Changing destination of "dirty" files
os.chdir('C:\PROJECT-2\Italy')
os.getcwd()

'C:\\PROJECT-2\\Italy'

In [5]:
#Import data from excel file
file13 = pd.read_excel('Italy-Finance Records.xlsx', sheet_name=None)

In [6]:
#Creating DataFrame
Italy_Finance = pd.concat(file13)
Italy_Finance

         Club name  Club ID Country   League  Marketing  MatchDay  \
2012 0    Juventus      NaN   Italy  Seria A   11353517   6917883
     1       Milan      NaN   Italy  Seria A   42148110   4473389
     2     Udinese      NaN   Italy  Seria A   73871026   9391019
     3       Lazio      NaN   Italy  Seria A   45655665    391140
     4      Napoli      NaN   Italy  Seria A   85098866   5349306
...            ...      ...     ...      ...        ...       ...
2021 15   Cagliari      NaN   Italy  Seria A   32265600   3778644
     16     Torino      NaN   Italy  Seria A   28465883   9798258
     17  Benevento      NaN   Italy  Seria A    1697938   2606282
     18    Crotone      NaN   Italy  Seria A   37278200    266773
     19      Parma      NaN   Italy  Seria A   19708028   4884757

         TV Translation  Year  Country Key  LeagueID  Year.1
2012 0        466307370  2012            4       400     NaN
     1        471297030  2012            4       400     NaN
     2        229972211  2012            4       400     NaN
     3        338969506  2012            4       400     NaN
     4        203264329  2012            4       400     NaN
...                 ...   ...          ...       ...     ...
2021 15       212730853  2021            4       400     NaN
     16       169730305  2021            4       400     NaN
     17       252570403  2021            4       400     NaN
     18       486999764  2021            4       400     NaN
     19       370366368  2021            4       400     NaN

[200 rows x 11 columns]

In [7]:
#Remove non relevant columns
Italy_Finance.drop(columns = ['Year.1'],inplace = True)

In [8]:
Italy_Finance.to_excel('C:\PROJECT-2\BI Files\Italy_Finance.xlsx')

## Italy - TABLES CONCAT

In [10]:
#Create DataFrame
file14 = pd.read_excel('Italy-League Tables.xlsx', sheet_name=None)
Italy_Tables = pd.concat(file14)

In [11]:
#Splitting the text column with name and number of goals
Italy_Tables[['Top Scorer Full Name','Scored Goals']]=Italy_Tables['Top Team Scorer'].str.split('-',expand = True)

In [12]:
#Rename of columns
Italy_Tables.rename(columns = {'Rk':'Position','MP':'Played Games','W':'Wins','D':'Draws','L':'Losed','GF':'Goals For',
                                 'GA':'Goals Against','GD':'Goals Difference','Pts':'Points'},inplace= True)

In [13]:
#Change data type of specific columns for aggregation 
#Germany_Tables.info()

Italy_Tables['Attendance'] = Italy_Tables['Attendance'].astype('int64')*1000
Italy_Tables['Scored Goals'] = Italy_Tables['Scored Goals'].astype('int64')

In [14]:
#Adding aggregation column with result round
Italy_Tables['% of Teams Score'] = ((Italy_Tables['Scored Goals']/Italy_Tables['Goals For'])*100).round(1)

In [16]:
#Remove non relevant columns
Italy_Tables.drop(columns = ['Top Team Scorer','Goalkeeper','Notes'],inplace = True)

In [18]:
Italy_Tables.to_excel('C:\PROJECT-2\BI Files\Italy_Tables.xlsx')

In [17]:
Italy_Tables

         Position      Squad  Played Games  Wins  Draws  Losed  Goals For  \
2012 0          1   Juventus            38    23     15      0         68
     1          2      Milan            38    24      8      6         74
     2          3    Udinese            38    18     10     10         52
     3          4      Lazio            38    18      8     12         56
     4          5     Napoli            38    16     13      9         66
...           ...        ...           ...   ...    ...    ...        ...
2021 15        16   Cagliari            38     9     10     19         43
     16        17     Torino            38     7     16     15         50
     17        18  Benevento            38     7     12     19         40
     18        19    Crotone            38     6      5     27         45
     19        20      Parma            38     3     11     24         39

         Goals Against  Goals Difference  Points  Attendance  Year  \
2012 0              20                48      84       37000  2012
     1              33                41      80       49000  2012
     2              35                17      64       18000  2012
     3              47                 9      62       32000  2012
     4              46                20      61       40000  2012
...                ...               ...     ...         ...   ...
2021 15             59               -16      37      105000  2021
     16             69               -19      37      105000  2021
     17             75               -35      33      158000  2021
     18             92               -47      23       53000  2021
     19             83               -44      20      158000  2021

         Country Key  LeagueID   Top Scorer Full Name  Scored Goals  \
2012 0             4       400      Alessandro Matri             10
     1             4       400   Zlatan IbrahimoviÄ‡             28
     2             4       400     Antonio Di Natale             23
     3             4       400        Miroslav Klose             13
     4             4       400        Edinson Cavani             23
...              ...       ...                    ...           ...
2021 15            4       400           JoÃ£o Pedro             16
     16            4       400        Andrea Belotti             13
     17            4       400     Gianluca Lapadula              8
     18            4       400        Simeon Nwankwo             20
     19            4       400  Juraj Kucka, Hernani              7

         % of Teams Score
2012 0               14.7
     1               37.8
     2               44.2
     3               23.2
     4               34.8
...                   ...
2021 15              37.2
     16              26.0
     17              20.0
     18              44.4
     19              17.9

[200 rows x 17 columns]

## Italy - Transfers CONCAT

In [47]:
#Import data from xlsx file
file15 = pd.read_excel('Italy-Transfer Historie.xlsx',usecols = 'c:g,i:k',sheet_name=None)

In [48]:
#Creating DataFrame
Italy_Transfers= pd.concat(file15)

In [49]:
#Split non relevant parts of column
Italy_Transfers[['test','Used money']] = Italy_Transfers['Expenditure'].str.split('€',expand = True)
Italy_Transfers[['Spent money(mln € )','test2']] = Italy_Transfers['Used money'].str.split('m',expand = True)

Italy_Transfers[['test3','Income money']] = Italy_Transfers['Income'].str.split('€',expand = True)
Italy_Transfers[['Income money(mln € )','test2']] = Italy_Transfers['Income money'].str.split('m',expand = True)

In [50]:
#Drop not relevant columns

Italy_Transfers.drop(columns = ['Expenditure','Income','test','test2','test3','Used money','Income money'],inplace = True)

              Club  Arrivals  Departures  Year  Country Key  LeagueID  \
2012 0    Juventus        45          50  2012            4       400
     1        Roma        34          32  2012            4       400
     2      Napoli        36          41  2012            4       400
     3       Milan        48          43  2012            4       400
     4       Genoa        70          71  2012            4       400
...            ...       ...         ...   ...          ...       ...
2021 19  Benevento        26          23  2021            4       400
     20    Crotone        34          32  2021            4       400
     21     Empoli        29          30  2021            4       400
     22     Spezia        35          29  2021            4       400
     23    Bologna        29          28  2021            4       400

        Spent money(mln € ) Income money(mln € )
2012 0               101.83                20.70
     1                91.25                26.13
     2                72.70                23.79
     3                65.15                22.30
     4                53.13                81.95
...                     ...                  ...
2021 19               11.60                 1.00
     20                5.49                  NaN
     21                5.45                  NaN
     22                5.14                 1.96
     23                3.15                 5.00

[231 rows x 8 columns]

In [51]:
#Replace NaN cells by '0'
Italy_Transfers.fillna(0,inplace = True)

In [52]:
#Formatting 'object' into 'float'
Italy_Transfers['Spent money(mln € )'] = Italy_Transfers['Spent money(mln € )'].astype('float')
Italy_Transfers['Income money(mln € )'] = Italy_Transfers['Income money(mln € )'].astype('float')

In [53]:
#Adding aggregation column
Italy_Transfers['Balance'] = Italy_Transfers['Income money(mln € )'] - Italy_Transfers['Spent money(mln € )']

In [54]:
Italy_Transfers

              Club  Arrivals  Departures  Year  Country Key  LeagueID  \
2012 0    Juventus        45          50  2012            4       400
     1        Roma        34          32  2012            4       400
     2      Napoli        36          41  2012            4       400
     3       Milan        48          43  2012            4       400
     4       Genoa        70          71  2012            4       400
...            ...       ...         ...   ...          ...       ...
2021 19  Benevento        26          23  2021            4       400
     20    Crotone        34          32  2021            4       400
     21     Empoli        29          30  2021            4       400
     22     Spezia        35          29  2021            4       400
     23    Bologna        29          28  2021            4       400

         Spent money(mln € )  Income money(mln € )  Balance
2012 0                101.83                 20.70   -81.13
     1                 91.25                 26.13   -65.12
     2                 72.70                 23.79   -48.91
     3                 65.15                 22.30   -42.85
     4                 53.13                 81.95    28.82
...                      ...                   ...      ...
2021 19                11.60                  1.00   -10.60
     20                 5.49                  0.00    -5.49
     21                 5.45                  0.00    -5.45
     22                 5.14                  1.96    -3.18
     23                 3.15                  5.00     1.85

[231 rows x 9 columns]

In [56]:
#Creating EXCEL file in a destination folder

Italy_Transfers.to_excel('C:\PROJECT-2\BI Files\Italy_Transfers.xlsx')

## Italy - Stat CONCAT

In [57]:
#Import data from xlsx file
file16 = pd.read_excel('Italy-Players Statistics.xlsx', sheet_name=None)

In [59]:
Italy_Stat = pd.concat(file16)

In [60]:
#Adding aggregation column
Italy_Stat['Total'] = Italy_Stat['Gls'] + Italy_Stat['Ast']

In [61]:
#Sort by parameter
Italy_Stat = Italy_Stat[Italy_Stat['Total']>15]

In [64]:
# Change data type
Italy_Stat['Ast'] = Italy_Stat['Ast'].astype('int')
Italy_Stat['Total'] = Italy_Stat['Total'].astype('int')

In [66]:
#Creating file in destination folder
Italy_Stat.to_excel('C:\PROJECT-2\BI Files\Italy_Stat.xlsx')